tr {
    color: white;
    background: rgb(8, 49, 104);
    }
    p {
    color: rebeccapurple;
    text-align: justify;
    }
    body {
    background: rgb(48, 47, 47);
    }
    .merah {
    color:rgb(255, 255, 255);
    text-align:center ;
    background :white;
    }
    .koplak {
    color:darkblue;
    }
    